<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IdahoSpring.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>50B70AB41D0DB9B800610F52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50B70ACB1D0DB9B900610F52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50B70AD61D0DB9B900610F52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
